html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 241, 224);
  color: #000000;
}

.hed nav ul a, 

.card a {
    text-decoration: none;
    color: inherit;
}

.divisa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

section {
  flex: 1;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hed {
    background-color: rgb(187, 116, 50);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 25px;
    border: solid 2px black;
    position: relative;
    flex-wrap: wrap;
}

.cabecario {
    font-size: 45px;
    color: #000000;
}

.hed nav {
    text-align: center;
    padding-top: 10px;
}

.hed nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hed nav ul a {
    color: #ffd000;
    font-size: 20px;
}

.hed nav ul li a:hover {
    color: #ffdb38;
   /* cursor: pointer;  */
   cursor: progress;
}

.card {
    display: inline-block;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 25px;
    width: 190px;
    cursor: pointer;
    background-color: blanchedalmond;
    margin: 20px;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    max-width: 300px;  
    min-height: 260px;
}

.card:hover {
    background-color: #fae2bf;
    transform: scale(1.05);
}

.card img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px auto;
}

.card span {
    display: block;
    font-size: 18px;
    color: #000000;
}

.fot {
    background-color: rgb(187, 116, 50);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 25px;
    border: solid 2px black;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    
    .cabecario {
        font-size: 32px; 
    }

    .hed {
        background-color: #690077;
    }
    .hed nav ul {
        flex-direction: column; 
        gap: 15px;
    }
    .hed nav ul a {
        color: #ffffff;
    }
    
    .hed nav ul li a:hover {
        color: #c5c5c5;
        cursor: progress;
    }

    .flex, .flex2 {
        flex-direction: column;
        align-items: center; 
        flex-wrap: wrap;
       
    }

    .card {
        width: 90%; 
        max-width: 200px; 
        margin: 15px 0; 
        min-height: 200px;
    }
}
